<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>班级说说</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-right a {
            color: gray;
        }

        .container1 {
            display: flex;
        }

        .left, .right {
            flex: 1
        }

    </style>
</head>

<body>
<%- include('header') %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<% if (login) { %>
<div class="jumbotron">
    <div class="container">
        <h4 style="display: flex;align-items: center">
            <img style="border-radius: 10px" width="100px" height="100px" src="/avatar/<%= avatar %>" alt="">
            <span style="margin-left: 20px">Hello <%= username %></span>
        </h4>
        <textarea id="content" style="display: block;margin-bottom: 10px;" name="content" cols="80" rows="4"></textarea>
        <button id="fabiao" type="button" class="btn btn-success">发表</button>
    </div>
</div>
<div class="container">
    <h3>《全部说说》</h3>
    <!-- Example row of columns -->
    <div class="row">
        <% for (let i = 0;i < shuoshuo.length;i++) { %>
        <div class="col-md-4" style=";padding-right: 10px">
            <h4>
                <a href="/username/<%=shuoshuo[i].username%>"><img src="/avatar/<%=shuoshuo[i].avatar%>" alt="" style="width: 30px;height: 30px;border-radius: 5px"></a>
                <%=shuoshuo[i].username%>
            </h4>
            <p><%=shuoshuo[i].content%> </p>
            <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
        </div>
        <% } %>
    </div>
    <hr>
<% }else { %>
<div class="container1" style="margin: 100px 60px 20px">
    <div class="left">
        <h1>欢迎</h1>
        <p>欢迎来到我们的交流园地</p>

        <button type="button" class="btn btn-success">注册</button>
    </div>
    <div class="right">
        <h5>已有账号登录</h5>
        <form style="margin-top: 20px">
            <div class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="email" class="form-control" id="username" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
            <button type="button" id="login" class="btn btn-default">登录</button>
        </form>
    </div>
</div>
<% } %>


    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>

<script>
    $('#login').click(function () {
        $.post('/dologin', {
            username: $("#username").val(),
            password: $('#password').val()
        }, function (result) {
            if (result == 1) {
                alert('登录成功');
                window.location = '/'
            } else if (result == -1) {
                console.log('用户名不存在');
            } else if (result == -2) {
            }
        })
    })

    $('#fabiao').click(function () {
        $.post('/post', {
            content: $('#content').val()
        }, function (result) {
            if (result == 1) {
                alert('发表成功');
                window.location = '/'
            } else if (result == -3) {
                alert('发表失败');
            } else if (result == -1) {
                alert('发表失败');
            }
        })
    })

</script>

</body>
</html>
